body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

select {
  padding: 0 !important;
}

label {
  color: #1e3f54;
  font-size: 18px;
}

.error-message {
  color: #ff736e;
  font-size: 15px;
}

.form {
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  margin: 100px auto;
  max-width: 500px;
  padding: 15px;
  width: 90%;
}

.header {
  color: #1e3f54;
  font-size: 30px;
  font-weight: 300;
}

.photo-input {
  color: #1e3f54;
  height: 40px;
  padding: 0 !important;
  width: 235px !important;
}

.photo-preview {
  border-radius: 2px;
  width: 67px;
}

.submit-button {
  background-color: #2f7c98c5;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #ffffffe0;
  height: 35px;
  width: 100%;
}

.submit-button:hover,
::-webkit-file-upload-button:hover {
  background-color: #2f7c984d;
  border: 1px solid transparent;
  color: #1e3f54;
  cursor: pointer;
  font-weight: 500;
  transition: ease-in-out 30ms;
}

.text-input {
  padding: 3px !important;
}

.text-input,
select {
  background-color: #ffffffd2;
  border: 1px solid #ffffffd2;
  border-radius: 2px;
  color: #1e3f54;
  height: 30px;
  width: 315px !important;
}

.text-input:disabled {
  background-color: #c1c8c6ab;
  border: 1px solid #c1c8c6ab;
}

::-webkit-file-upload-button {
  background-color: #2f7c98c5;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #ffffffe0;
  font-size: 15px !important;
  padding: 3px;
  width: 100px;
}
